
@font-face {
    font-family: 'SegoeUICursiva';
    src: url('../fonts/segoeuii-webfont.eot');
    src: url('../fonts/segoeuii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuii-webfont.woff') format('woff'),
         url('../fonts/segoeuii-webfont.ttf') format('truetype'),
         url('../fonts/segoeuii-webfont.svg#SegoeUICursiva') format('svg');
    font-weight: normal;
    font-style: normal;
}