.button_add{background: url(i/ru/buttons/button_add.png) no-repeat top center;}

.button_back{background: url(i/ru/buttons/button_back.png) no-repeat top center;}

.button_cancel{background: url(i/ru/buttons/button_cancel.png) no-repeat top center;}

.button_close{background: url(i/ru/buttons/button_close.png) no-repeat top center;}

.button_delete{background: url(i/ru/buttons/button_delete.png) no-repeat top center;}

.button_login{background: url(i/ru/buttons/button_login.png) no-repeat top center;}

.button_refresh{background: url(i/ru/buttons/button_refresh.png) no-repeat top center;}

.button_save{background: url(i/ru/buttons/button_save.png) no-repeat top center;}

.button_submit{background: url(i/ru/buttons/button_submit.png) no-repeat top center;}

.button_send{background: url(i/ru/buttons/button_send.png) no-repeat top center;}

.button_cashout{background: url(i/ru/buttons/button_cashout.png) no-repeat top center;}

