<section class="BG1">
    <span class="flash_border"></span>
    <div class="Pard_10">
        <div class="row footerMain">
            <div class="col-12 col-lg-4">
                <div class="dis_flex footer_title">
                    <img height="100px" src="assets/logos/footer_logo.webp" alt="footer logo" loading="lazy"
                        decoding="async" />
                </div>
            </div>
            <div class="col-8 col-lg-4">
                <h6 class="footer_lnr_color pagesTitle">Pages</h6>
                <ul class="pagesList">
                    <li> <a href="https://t.me/RAJPOKER" aria-label="Go to Contact us" target="_blank"> Contact us</a>
                    </li>
                    <li routerLink="/terms-and-conditions" aria-label="Go to Privacy policy">Terms and Conditions </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 footer_last_sec">
                <div class="afflicate_btns">
                    <button class="agent_Btn" type="button" title="Agent Backoffice Portal">
                        <a href="{{Domain}}/agent/#" target="_blank" aria-label="Go to Agent">
                            <span class="btn-top-tag">👑 VIP AGENT</span>
                            <h2 id="agent" class="agent_text">AGENT</h2>
                            <span class="backofc_text">backoffice</span>
                        </a>
                    </button>
                    <button class="affiliate_btn" type="button" title="Affiliate Partner Portal">
                        <a href="{{Domain}}/newaffiliate/#/login" aria-label="affiliate" target="_blank">
                            <span class="btn-top-tag">💼 PARTNER</span>
                            <h2 id="affiliate" class="agent_text">AFFILIATE</h2>
                            <span class="backofc_text">portal</span>
                        </a>
                    </button>
                </div>
                <div class="main_IconScn" role="button" tabindex="0" aria-label="move top" (click)="moveToTop()">
                    <div class="up_section primary_button" role="button" tabindex="0" aria-label="move top"
                        (click)="moveToTop()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" aria-hidden="true" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="dis_flex social-icons">
            <!-- <a href="https://web.telegram.org/a/#-1003447935593" target="_blank"  aria-label="telegram"> -->
            <a href="https://t.me/RAJPOKER" target="_blank" aria-label="telegram">
                <i class="fa-brands fa-telegram"></i>
            </a>
            <a href="https://www.instagram.com/raj_poker_casino?igsh=ZDRkaWRrNDhicHlu" aria-label="instagram"
                target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
</section>