.navbar{background:none;}
/* img{max-width:100%;} */
.internal-banner{width:100%;}
#content{padding:50px 0;}
#content h4{line-height:1.5;}
#content p{line-height:1.5;}
/* .text-center{padding: 30px 8% 30px;} */
.procedure div.row{margin-bottom:30px;}
/* div.cms_content_container p{text-align:left !important;} */  