
/* ==========================================================================
Author's custom styles
========================================================================== */
*,body,h1,h2,h3,h4,h5,h6,p{font-family: "Muli",sans-serif;}

body, html {
background: #ffffff none repeat scroll 0 0 !important;
}
/* a{color:#C5C5C5;
font-size:14px;} */ 
.col-1_5{
	width:12%;
}	
.button { 
    background: transparent linear-gradient(to bottom, #9d7e48 48%, #e5d05d 100%) repeat scroll 0 0;
    border: 1px solid #333333;
    display: block;
	line-height:35px;
    height: 35px;
    /* padding-top: 5px; */
    text-align: center;
    text-decoration: none; 
    width: 107px;
	color: #ffffff;
    font-family:"Muli",sans-serif;
    font-size: 14px;
}
/* .button :hover{
	background: transparent linear-gradient(to bottom, #e5d05d 48%, #9d7e48 100%) repeat scroll 0 0; 
	border: 1px solid #333333;
    display: block;
    height: 35px;
	line-height:35px;
    text-align: center;
    text-decoration: none; 
    width: 107px;
	color: #ffffff;
    font-family:"Muli",sans-serif;
    font-size: 14px;
} */
.button_submit_filter {
	background: transparent linear-gradient(to bottom, #9d7e48 48%, #e5d05d 100%) repeat scroll 0 0;
    border: 1px solid #333333;
    display: block;
	line-height:35px;
    height: 35px;
    /* padding-top: 5px; */
    text-align: center;
    text-decoration: none; 
    width: 107px;
	color: #ffffff;
    font-family:"Muli",sans-serif;
    font-size: 14px;
   
}
.button_submit_filter a{
	color: #ffffff ;
}
.button_submit_filter a:hover{
	color: #000000;
}

 .button_title {
    color: #ffffff;
    font-family:"Muli",sans-serif;
    font-size: 14px;
    text-decoration: none !important;
} 
 a .button_title:hover{
	 color: #333333;
    font-family:"Muli",sans-serif;
    font-size: 14px;
    text-decoration: none !important;
 }

.button.button_logout {
    background: none;
    float: right;
}

.button.button_logout .button_title {
    color: #46c500;
    text-decoration: underline;
}
.button.button_logout:hover .button_title {
    text-decoration: none;
}

.loggedin.qlogin_table td{
    text-align: left;
}
.qlogin_table {
	min-width: 100px;
	/* background:#091d38; */
	/* margin: 8px 0px; */
	/* padding:5px; */
}
.after_loged{
text-align:center;
margin:9%;
}
.qlogin_form_title {
	margin-left: 5px;
	font-size: 14px;
    /* color: #FFCA81; */   
   /*  display: block; */       
	/* float:left; */
}
.qlogin_form_value a {
    color: #FFCA81;
   /*  font-size: 14px; */
   /*  display: block; */
    width:145px;
}
.wel_font{
font-size:20px;
}
.input_holder td {
    height: 25px; 
}
	
p{
font-weight: 400; 
font-family: "Muli",sans-serif;
font-size:15px;
/* color:#333333; */

}
.certified p{
	color:#333333;
}
/* #sticky-wrap {
background: #003333 none repeat scroll 0 0;
display: none;
height: 72px;
margin: 0 auto;
max-width: 1920px;
min-width: 1020px;
position: fixed;
width: 100%;
z-index: 99999;
} */
.banner_single img{
width:100%;

}
.banner_inner_pages  img{
width:100%;

}
.nav_one_top{
position:absolute;
top:0px;
width:100%;
}
.sigh_out a{
color:#ffffff;
}

.f_align{
text-align:center;
padding:10px;
}
.devider{
padding:2% 0%;
}
.input-xs {
height: 22px;
padding: 2px 5px;
width:150px;
font-size: 12px;
line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
border-radius: 3px;
}
.user_log{
padding:0px 6px;
}
.reg a{
color:#ffffff;
}
.loged{
margin:2% 0%;
}
.loged > li {
float:left;
} 

.toggle_ftr {
color:#4b5568;
}
.toggle_ftr h3{
background:#4b5568;
padding:3px;
color:#ffffff;
cursor:pointer;
font-size:16px;
}
.toggle_ftr h3:hover{
background:#fdc819;
color:#333333;

}
.toggle_ftr span a:hover{
background:#333333;
padding:3px;
}


.slide-out-div1,.slide-out-div2,.slide-out-div3,.slide-out-div4,.slide-out-div5,.slide-out-div6 {
padding: 20px 55px 20px 20px;
width: 250px;
color:#333333;
background: #f2f2f2;
//border: #29216d 2px solid;
z-index:1000;
}
.handle{z-index:1;}   


.icon {
//text-align: center;
// padding: 20px 0 0;
//width:250px;
//height:100px;
float: left;
margin-right: 10px;
}
.icon  i {
font-size:60px !important;
}
.icon img {
max-width:85px;
//margin:-5px 0;
/* -webkit-transition:height 1s, width 1s; */ /* For Safari 3.1 to 6.0 */
/* transition:height 1s, width 1s; */
cursor: pointer;
}
.icon img:hover{
width:45px;

}
}
.icon_text {
//text-align:center;
}
.icon_text p{
font-size: 11px;
font-weight: 500;
color: #898989;
}
.testimonials{
text-align:center;
background-image:url('../img/patt_bg1.jpg');
background-size:100%;
color:#C5C5C5;
padding: 35px 0;
}
.menu_bg{
	background: #010101 none repeat scroll 0 0;
    border-radius: 20px;
    left: 25%;
    margin: 3% 0 0 3%;
    padding: 0 10px !important;
    position: absolute;
}
.b_log_menu{
height: auto;
margin: -3.5% auto 0;
max-width: 793px;
}
.ofter_loged_menu{
background: rgba(0, 0, 0, 0) url("/c/img/menu_sub_bg.png") repeat scroll 0 0;
    height: auto;
    margin: -2% auto 0;
    max-width: 750px;
    position: relative;
    z-index: 3;

}

.sub_loged{
/* background:url("/c/img/menu_sub_bg.png"); */
line-height:50px;
height:50px;
margin:5px;
padding:5px;
font-size:22px;
color:#ffffff;
}
.sub_log{
background:url("/c/img/arrow.png");
background-repeat: no-repeat;
background-size: 100% auto;
width: 262px;
height:65px; 
/* margin:5px;
padding:5px; */
}
.sub_log a{
font-size:18px;
color:#ffffff;
line-height:30px;
height:65px;
text-decoration: none;

}
.rdp {
font-size: 16px;
font-weight: 500;
}
.icon_text a .rdp {
font-size: 16px;
font-weight: 500;
color:#333333; 
font-family: "Muli",sans-serif;
}
.icon_text a:hover{
text-decoration:none;

}

.rdp-cols{margin-top:10px;}
.get-started {
font-size: 26px;
font-weight: 800;
margin:10px 0 10px;
padding: 10px 8%; 
}
.jcarousel li {
margin-right: 22px;
}
.nav > li > a:hover, .nav > li > a:focus{background:none;}

a:hover, a:focus{color: #FDC819;}


.navbar-nav > li > a{
font-size: 14px;
padding: 10px 10px !important;
/* text-transform: uppercase; */
color:#ffffff !important;

}
.nav > li > a {
color: #ffffff;
display: block;
padding: 10px 15px;
position: relative;
}

.footer  ul  li  a {
color: #1e1e1e;
font-weight:600px;
display: block;
position: relative;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #fdc819;
border-color: #337ab7;
color:#000000;

}
.loged_nav > li > a {
    color: #ffffff !important;
    font-size: 20px;
    padding: 10px 78px !important;
    text-align: center !important;
	line-height:28px;
}

.loged_nav .open > a, .loged_nav .open > a:hover, .loged_nav .open > a:focus {
background-color: #112854;
border-color: #337ab7;
color:#000000;

}
.loged_nav .open .dropdown-menu > li > a {
    line-height: 20px;
    text-align: center;
}
.loged_nav .dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 30px;
    white-space: nowrap;
}

.referfriend_input {
    border: 1px solid #979797 !important;
    font-family: Lato;
    font-size: 15px;
    width: 600px;
}
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
/* background-color: #fff; */
background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
color:#000000;
}
.navbar-nav .open .dropdown-menu > li > a{
background:#565656 !important;
color:#ffffff;
}
.navbar-nav .open .dropdown-menu > li > a:hover {
background:#ffffff !important;
color:#333333;

}

.dropdown-menu {
background-clip: padding-box;
background-color: #565656 !important;
/* border: 1px solid rgba(0, 0, 0, 0.15); */
border:none !important;
border-radius: 4px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
display: none;
float: left;
font-size: 14px;
left: 0;
list-style: outside none none;
margin: 2px 0 0;
min-width: 160px;
padding: 5px 0;
position: absolute;
text-align: left;
top: 100%;
z-index: 1000;
}
.dropdown-header {
color: #777;
display: block;
font-size: 13px;
line-height: 1.42857; 
padding: 3px 20px;
white-space: nowrap;
background:#fdc819; 
}
.dividerli {
background:#333333;
background-image: -moz-linear-gradient(180deg, #fdc819 0%, #000000 49%, #fdc819 100%);
height: 1px;
margin-top: 13px;
width: 100%; 
}
#get_started{
width:100%;
background:#ffffff;
color: #333333;
padding: 0px 30px 20px 30px; 
}
#promotians{
width:100%;
background:#ffffff;
color: #333333;
padding: 30px;

}

#video{
padding:30px 0;
background:#121212;
color:#C5C5C5;
}
.main-heading{
font-size: 32px;
font-weight: 600;
color: #FDC819;
text-align: center;
margin-bottom: 30px;
}
.black-heading{
color: #0e0e0e;
font-family: Segoe UI !important;
font-size: 30px;
font-style: italic;
font-weight: 600;
margin-bottom: 5px;
text-align: center;
}
h3, .h3 {
font-size: 18px;
color: #0e0e0e;
font-weight: 600;
font-family: Segoe UI !important;
font-style: italic;
}
.section4 {
text-align: center;
}
.download_options li {
display: inline-block;
margin: 20px 10px;
width: 160px;
}
.download_options li img {
max-width: 100%;
}
.devider img {
max-width: 100%;
}
.red_text{
background: url("/c/img/devider.png");
background-position: 0 15px;
background-repeat: no-repeat;
background-size: 100% auto;
color: #d82a2a;
font-family: "Lobster",cursive;
text-align: center;
font-size:28px;
margin:3% 0%;
}


.p_text{
font-size: 20px;
font-weight: 200;
}
.sec-heading{
font-weight:600;
color:#FDC819;
margin-bottom:30px;
font-size:30px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width:100%;}
.fa{margin: 3px;}
footer  p{ color:#333333;}
.brands img{margin:5px; }
.brand-last{padding-right:20px;border-right:1px solid #2A2A2A;}
footer p{padding: 10px; color:#333333;}
.form-group{margin: 0px 0 10px !important;}
.login-form{background: #000000 !important;
padding: 20px;border:1px solid;max-width:400px;}
.custom-bg{background:#1E1E1E;padding-top:21px;}
.play-now-btn{
background: #FDC819;
padding: 5px 10px !important;
margin: 0px;
font-weight: 600;
color: #000000;
max-width:115px;
}
.certificate_ftr img{ 

padding-top: 12px;
}
.brands a:hover{
text-decoration:none;
}


.sign_out_btn{
background: #ffcc00; 

}
.quick_signin{
	background:transparent linear-gradient(to bottom, #e5d05d 48%, #9d7e48 100%) repeat scroll 0 0;
    margin-top: 10px;
    padding: 5px 18px;
	color:#ffffff;
}
#button_quick_login_submit:hover {
    background-position: bottom;
    background:transparent linear-gradient(to bottom, #9d7e48 48%, #e5d05d 100%) repeat scroll 0 0;
	text-decoration:none;
}

.button_logout {
    background: url("../i/button_submit.png") no-repeat;
    display: block;
    height: 20px;
    width: 80px;
    text-align: center; text-indent:99999px;
    margin: 5px;
}

.navbar-toggle{ 
margin-top: 30px;
background:transparent linear-gradient(to bottom, #e5d05d 48%, #9d7e48 100%) repeat scroll 0 0;
}
.navbar-brand{
height:auto;
}
.navbar-brand > img {
display: block;
width:190px
}
.navbar-toggle .icon-bar{
background:#000000;
}
.win-app{margin-right: 5px;
margin-bottom: 2px;}
/* #myCarousel{margin-top:54px;} */

/* .fixed-play
{
color: #ffffff;
padding: 12px 15px;
background: #808EA8;
}
*/

footer ul{
margin:10px 0px 0px 0px !important;
font-size: 15px;

font-family: "Muli",sans-serif;}

.eighteen span {
    background: #d82a2a none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    padding: 14px 10px;
}


.nopadding {
padding: 0 !important;
margin: 0 !important;
}
/* .qlogin_links{
display:none;
} */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}
.col-xs-15 {
width: 20%;
float: left;
}
.programinfo .container{
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
.certificate_ftr{
margin:10px;

}
.col-6{

margin-left:20px; 
}
.col-6 h3{
font-size: 16px;
text-transform: uppercase;

} 


@media (min-width: 768px) {
.col-sm-15 {
width: 20%;
float: left;
}
.testimonials p{font-size:22px;font-weight:200;}
}
@media (min-width: 992px) {
.col-md-15 {
width: 20%;
float: left;
}
}
@media (min-width: 1200px) {
.col-lg-15 {
width: 20%;
float: left; 
}

}
/* @media only screen and 
(min-width:1024px) and (max-width: 1600px) {
.col-6{

padding-left:10px;
}
} */

@media only screen and 
(min-width:280px) and (max-width: 432px) {
.brands img{margin:5px; both:clear;
}
.pull-left, .pull-right{
float:none !important;
}
.play-now-btn {
background: #fdc819 none repeat scroll 0 0;
color: #000000;
font-weight: 600;
margin: 49px 0px 0px 12px; 
max-width: 115px;
padding: 5px 10px !important; 
}
.certificate_ftr{
margin:10px 50px 5px 50px;

}
.social{
margin-left:115px;
}
}
.bg_black{background: #ffffff;color:#000000;}
.modal, .modal-body p{color:#000000;}
.text-center ul{text-align: left;}
@media only screen and 
(max-width:600px) {
.slick-list{padding: 0;}
.slick-slide img{
width: 100%;
}
.menu_bg {
    background: #010101 none repeat scroll 0 0;
    border-radius: 0 0 20px 20px;
    margin: 0px 0 0 10px !important;
    position: absolute;
	left: 6%;
    width: 90%;
    z-index: 5;
}
.banner_single img {
width:1280px;
    height: 300px;
}
.referfriend_input {
    border: 1px solid #979797 !important;
    font-family: Lato;
    font-size: 15px;
    width: 90%;
}
}
